[submodule "libs/imgui/imgui"]
	path = libs/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/glm"]
	path = libs/glm
	url = git@github.com:icaven/glm.git
[submodule "libs/cereal"]
	path = libs/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "libs/imgui/ImGuiFileDialog"]
	path = libs/imgui/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "libs/imgui/implot"]
	path = libs/imgui/implot
	url = https://github.com/epezent/implot.git
